body{
    text-align: center; 
    background-image: linear-gradient(to right top, #70ef82, #17ebac, #00e4ce, #00dae5, #21ceef);
	background-repeat:no-repeat;
    width: auto;
	height:auto;
	font-family: Yu Gothic;
}


.content{
  width: 80%;
  text-align: center;
  background:#313141;
  font-family: Yu Gothic;
  margin: auto;
 /* padding: 120px 35px;*/
  border-radius: 10px;
  box-shadow: 0px 0px 30px #313141;
  margin-bottom: 4%;
}
p{
	font-size: 150%;
	text-align: left;
	/*margin: 7.8%;*/
	color: white;
	font-family: Yu Gothic;
	/*padding-bottom: 0%;*/	
}
.cont{
	text-align: left;
	display: block;
	margin: 8%;
  padding-bottom: 2%;
  margin-top: 0%;
}
.men{
	display: inline-flexbox;
	width: auto;
	height: auto;
  margin-bottom: 0%;

}
.lbl{
	
	padding-bottom: 2%;
	padding-top: 5%;
	text-align: left;
	font-family: sans-serif;
	font-size: 120%;
	color: white;
}
.dash{
	
	padding-top: 0%;
	/*margin: 7.8%;*/
	text-align: left;
}


table, th, td {
	font-family: Yu Gothic;
	color: white; /*color de la letra */
	
	
	
  }
  table {
	border-collapse: collapse;
	width: 85%;
	margin: auto;
	padding-bottom: 78px;
    top: 50%;
	/*left: 80%;
	*/
  }
  th, td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
  }
  td{
	font-weight:300;
	font-size:0.875em;
	letter-spacing:0.063em;
  }
  th{
	  background-color: rgba(0,0,0,0.2);
  }
  
  tr:hover {
	background-color: rgba(0,0,0,0.2);
	opacity: 0%;
  }
  .tbl{
	margin-top: -8%;
	padding-bottom: 10%;
	
  }

ul {
  
  width: 28.5%;
  font-family: Yu Gothic;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0,0,0,0.2);
  /*background-color: rgb(48, 47, 47);*/
  border-radius: 10px;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
   border-radius: 10px;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #54C9B7;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
   border-radius: 10px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

input[type=button] { /* todas las entradas de texto que sean de tipo submit*/
	cursor:pointer; /* para que cuando el cursor este enciama del boton cambie a una mano*/
	width:70px;
	height:20px;
	letter-spacing: 2px;
	font-family: Yu Gothic;
	color: white; /*color de la letra */
	background-color: rgba(0,0,0,0.2); /* color de fondo del boton */
	box-shadow: 2px 2px 5px black; /*para que el sombreado sea de ese tamaño y de ese color  */
	border:0px; /*  para que no tenga bordes*/
	border-radius: 10px; /* para que las puntas de los bordes sean curveadas */
	
   }
#bot{
  cursor:pointer; /* para que cuando el cursor este enciama del boton cambie a una mano*/
	width:70px;
	height:20px;
	letter-spacing: 2px;
	font-family: Yu Gothic;
	color: white; /*color de la letra */
	background-color: rgba(0,0,0,0.2); /* color de fondo del boton */
	box-shadow: 2px 2px 5px black; /*para que el sombreado sea de ese tamaño y de ese color  */
	border:0px; /*  para que no tenga bordes*/
	border-radius: 10px; /* para que las puntas de los bordes sean curveadas */
	
}
#bot:hover{
  background-color: #54C9B7;
}
#ed{
  cursor:pointer; /* para que cuando el cursor este enciama del boton cambie a una mano*/
	width:70px;
	height:20px;
	letter-spacing: 2px;
	font-family: Yu Gothic;
	color: white; /*color de la letra */
	background-color: rgba(0,0,0,0.2); /* color de fondo del boton */
	box-shadow: 2px 2px 5px black; /*para que el sombreado sea de ese tamaño y de ese color  */
	border:0px; /*  para que no tenga bordes*/
	border-radius: 10px; /* para que las puntas de los bordes sean curveadas */
	
}
#ed:hover{
  background-color: #54C9B7;
}

input[type=button]:hover {
	background-color: #54C9B7;
   }

   .dash a:link, .dash a:visited {
	color: #54C9B7;
	background-color: transparent;
	text-decoration: none;
  }
  label{
	  color: white;
  }

  
  .dropbttn {
    
    text-align: left;
    font-family: Yu Gothic;
    background-color: rgba(0,0,0,0.2);
    color: white;
    padding: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .dropdownn {
    
    position: relative;
    display: inline-block;
  }
  
  .dropdown-contenido {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
     border-radius: 10px;
  }
  
  .dropdown-contenido a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
  }
  
  .dropdown-contenido a:hover {
    background-color: #f1f1f1;
    border-radius: 10px;
  }
  
  .dropdownn:hover .dropdown-contenido {
    display: block;
    border-radius: 10px;
  }
  
  .dropdownn:hover .dropbttn {
    background-color: #54C9B7;
    border-radius: 10px;
  }
  .drop{
    width: 50%;
    transform: translate(86%,19%);
    text-align: right;

  }

  .user{
    margin-top: -3%;
    width: 10%;
    transform: translate(1060px,0px);
    
  }
  #immg{
    width: 38%;
    height: auto;
    border-radius: 15px;
  
  }
  .btnplus{
    font-size: 150%;
    margin-bottom: 2%;
    margin-right: -75%;
    border-radius: 15px;
    background-color:  rgba(0,0,0,0.2);
    cursor:pointer;
    color: white;
    border: none;
    width: 7%;
  }
.btnplus:hover{
  background-color: #54C9B7;
}
.btnplus1{
  font-size: 150%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: -75%;
  border-radius: 15px;
  background-color:  rgba(0,0,0,0.2);
  cursor:pointer;
  color: white;
  border: none;
  width: 7%;
}
.btnplus1:hover{
background-color: #54C9B7;
}



