body{
    text-align: center; 
    background-image: linear-gradient(to right top, #70ef82, #17ebac, #00e4ce, #00dae5, #21ceef);
	background-repeat:no-repeat;
    width: auto;
	height:auto;
	font-family: Yu Gothic;
}



.content{
  width: 80%;
  text-align: center;
  background:#313141;
  font-family: Yu Gothic;
  margin: auto;
 /* padding: 120px 35px;*/
  border-radius: 10px;
  box-shadow: 0px 0px 30px #313141;
  margin-bottom: 4%;
}
p{
	font-size: 150%;
	text-align: left;
	/*margin: 7.8%;*/
	color: white;
	font-family: Yu Gothic;
	/*padding-bottom: 0%;*/	
}
.cont{
	text-align: left;
	display: block;
	margin: 8%;
  padding-bottom: 2%;
  margin-top: 0%;
}
.men{
	display: inline-flexbox;
	width: auto;
	height: auto;
  margin-bottom: 0%;

}

.dash{
	
	padding-top: 0%;
	/*margin: 7.8%;*/
	text-align: left;
}

ul {
  
    width: 28.5%;
    font-family: Yu Gothic;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,0.2);
    /*background-color: rgb(48, 47, 47);*/
    border-radius: 10px;
  }
  
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
     border-radius: 10px;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: #54C9B7;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
     border-radius: 10px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
      background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  input[type=button] { /* todas las entradas de texto que sean de tipo submit*/
      cursor:pointer; /* para que cuando el cursor este enciama del boton cambie a una mano*/
      width:80px;
      height:30px;
      letter-spacing: 2px;
      font-family: Yu Gothic;
      color: white; /*color de la letra */
      background-color: rgba(0,0,0,0.2); /* color de fondo del boton */
      box-shadow: 2px 2px 5px black; /*para que el sombreado sea de ese tamaño y de ese color  */
      border:0px; /*  para que no tenga bordes*/
      border-radius: 10px; /* para que las puntas de los bordes sean curveadas */
      
     }
  
  input[type=button]:hover {
      background-color: #54C9B7;
     }
  
     .dash a:link, .dash a:visited {
      color: #54C9B7;
      background-color: transparent;
      text-decoration: none;
    }
    label{
        color: white;
    }
  
    
    .dropbttn {
      
      text-align: left;
      font-family: Yu Gothic;
      background-color: rgba(0,0,0,0.2);
      color: white;
      padding: 8px;
      font-size: 16px;
      border: none;
      cursor: pointer;
      border-radius: 10px;
    }
    
    .dropdownn {
      
      position: relative;
      display: inline-block;
    }
    
    .dropdown-contenido {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
       border-radius: 10px;
    }
    
    .dropdown-contenido a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      border-radius: 10px;
    }
    
    .dropdown-contenido a:hover {
      background-color: #f1f1f1;
      border-radius: 10px;
    }
    
    .dropdownn:hover .dropdown-contenido {
      display: block;
      border-radius: 10px;
    }
    
    .dropdownn:hover .dropbttn {
      background-color: #54C9B7;
      border-radius: 10px;
    }
    .drop{
      width: 50%;
      transform: translate(86%,19%);
      text-align: right;
  
    }
  
    .user{
      margin-top: -3%;
      width: 10%;
      transform: translate(1060px,0px);
      
    }
    #immg{
      width: 38%;
      height: auto;
      border-radius: 15px;
    
    }
    .formu{
        color: white;
        padding-bottom: 10%;
        margin-top: -9%;
        padding-left: 10%;
        text-align: left;
    }
    .when{
        margin-left: 50%;
        margin-top: -35%;
    }
    
    form{
        letter-spacing: 2px; /* espaciado entre letras*/
        font-family: Yu Gothic; /* tipo de letra*/
        color: white; /* color de letra*/
        font-size: 100%; /* tamaño de letra*/
        padding:2px; /*relleno a cada lado del form */
        display: inline;
    }
    input{ /* todas las entradas de texto*/
        width:220px;
        height:25px;
        font-family: Yu Gothic;
        border:0px; /*  para que no tenga bordes*/
        border-radius: 10px; /* para que las puntas de los bordes sean curveadas */
       }
    
   

    .container {
        font-family: Yu Gothic;
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 15px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      
      /* Hide the browser's default checkbox */
      .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }
      
      /* Create a custom checkbox */
      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: rgba(0,0,0,0.2);
      }
      
      /* On mouse-over, add a grey background color */
      .container:hover input ~ .checkmark {
        background-color: rgba(0,0,0,0.2);
      }
      
      /* When the checkbox is checked, add a blue background */
      .container input:checked ~ .checkmark {
        background-color: #54C9B7;
      }
      
      /* Create the checkmark/indicator (hidden when not checked) */
      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }
      
      /* Show the checkmark when checked */
      .container input:checked ~ .checkmark:after {
        display: block;
      }
      
      /* Style the checkmark/indicator */
      .container .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }


      .wrapper
      {
          padding-bottom: 90px;
          
    transform: translate(10px,-60px);
      }

.divider1
{
	margin-top: 90px;
	height: 1px;
}

.div1-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, white, transparent);
}


.div1-dot:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: -9px;
	left: calc(50% - 9px);
	width: 18px;
	height: 18px;
	background-color: #54C9B7;
	border: 1px solid rgb(48,49,51);
	border-radius: 50%;
	box-shadow: inset 0 0 0 2px white,
					0 0 0 4px white;
}