body{
    text-align: center; 
    background-image: linear-gradient(to right top, #70ef82, #17ebac, #00e4ce, #00dae5, #21ceef);
    background-repeat:no-repeat;
    width: auto;
    height:auto;
}



input[type=button] { /* todas las entradas de texto que sean de tipo submit*/
  cursor:pointer; /* para que cuando el cursor este enciama del boton cambie a una mano*/
  width:80px;
  height:30px;
  letter-spacing: 2px;
  font-family: Yu Gothic;
  color: white; /*color de la letra */
  background-color: rgba(0,0,0,0.2); /* color de fondo del boton */
  box-shadow: 2px 2px 5px black; /*para que el sombreado sea de ese tamaño y de ese color  */
  border:0px; /*  para que no tenga bordes*/
  border-radius: 10px; /* para que las puntas de los bordes sean curveadas */
  
 }

input[type=button]:hover {
  background-color: #54C9B7;
 }

 .dash a:link, .dash a:visited {
  color: #54C9B7;
  background-color: transparent;
  text-decoration: none;
}
.lbl{
  text-align: left;
  color:white;
  font-weight:300;
  font-size:0.875em;
  letter-spacing:0.063em;
  font-family: Yu Gothic;
  padding: 20px;
  padding-left: 10%;
  padding-bottom: 3.5%;
  padding-top: 0%;
}


table, th, td {
  font-family: Yu Gothic;
  color: white; /*color de la letra */
  
  
}
table {
  border-collapse: collapse;
  width: 80%;
  margin: auto;
  padding-bottom: 78px;
 /* top: 50%;
  left: 80%;
  */
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
td{
  font-weight:300;
  font-size:0.875em;
  letter-spacing:0.063em;
}
th{
  background-color: rgba(0,0,0,0.2);
}

tr:hover {
background-color: rgba(0,0,0,0.2);
opacity: 0%;
}
.btn:hover{
  box-shadow: 2px 2px 7px black;
}

.log:hover{
  box-shadow: 2px 2px 7px black;
}


.center {
  width: 80%;
  text-align: center;
  background:#313141;
  font-family: Yu Gothic;
  margin: auto;
 /* padding: 120px 35px;*/
  border-radius: 10px;
  box-shadow: 0px 0px 30px #313141;
  margin-bottom: 12%;
}
.tbl{
  padding-bottom: 5%;
}

.c {
  padding-top: 10%;
  color: white;
  font-weight: bold;
  font-family: Yu Gothic;
  padding: 80px;
  word-spacing: 0.2em;
  margin: auto;
}
.btn{
  cursor:pointer; /* para que cuando el cursor este enciama del boton cambie a una mano*/
   width:150px;
   height:25px;
   letter-spacing: 2px;
   font-family: Yu Gothic;
   color: white; /*color de la letra */
   background-color: rgba(0,0,0,0.2); /* color de fondo del boton */
   box-shadow: 2px 2px 5px black; /*para que el sombreado sea de ese tamaño y de ese color  */
   border:0px; /*  para que no tenga bordes*/
   border-radius: 10px; /* para que las puntas de los bordes sean curveadas */
   
}
.btn:hover {
  background-color: #54C9B7;
  opacity: 0%;
  }

.title{
  
  text-align: center;
  color: #232D4D;
  font-family: Yu Gothic;
  font-size: 150%;
}

.log{
  cursor:pointer; /* para que cuando el cursor este enciama del boton cambie a una mano*/
   width:85px;
   height:27px;
   letter-spacing: 3px;
   font-family: Yu Gothic;
   color: white; /*color de la letra */
   background-color: rgba(0,0,0,0.2); /* color de fondo del boton */
   box-shadow: 2px 2px 5px black; /*para que el sombreado sea de ese tamaño y de ese color  */
   border:0px; /*  para que no tenga bordes*/
   border-radius: 10px; /* para que las puntas de los bordes sean curveadas */
   
}
.log:hover {
  background-color: #54C9B7;
  opacity: 0%;
  }
.login{
  transform: translate(650%, 30%);
  margin: auto;
  width: 5%;
  padding: 10px;
  
}
#from::placeholder{
  text-align: center;
}
#to::placeholder{
  text-align: center;
}
label{
  color: white;
}
