html{
  background-image: linear-gradient(to right top, #70ef82, #17ebac, #00e4ce, #00dae5, #21ceef);
    width:100%;
    height: 100%;
    font-family: Yu Gothic;
  }
  h2{
    text-align: left;
    font-size: 1.2em;
    margin: auto;
    padding: 20px
  }
  
  form{
   letter-spacing: 2px; /* espaciado entre letras*/
   font-family: Yu Gothic; /* tipo de letra*/
   color: white; /* color de letra*/
   font-size: 100%; /* tamaño de letra*/
   padding:100px; /*relleno a cada lado del form */
   display:block; /* forma del form  */
   width:290px; 
   text-align: center; /*alineacion del texto */
   transform: translate(40%, -2%);
  }

  img {
    transform: translate(30%, 20%);
    height:360px;
    width: 290px;
    border-radius: 10px;
    box-shadow: 0px 0px 40px black;
  }
  
  input{ /* todas las entradas de texto*/
   width:290px;
   height:25px;
   font-family: Yu Gothic;
   border:0px; /*  para que no tenga bordes*/
   border-radius: 10px; /* para que las puntas de los bordes sean curveadas */
  }

  input[type=text] {
   text-align: inherit;
  }

  input[type=password] {
    text-align: inherit;
   }

  
  input[type=submit] { /* todas las entradas de texto que sean de tipo submit*/
    background-image:  linear-gradient(to right top, #0fda65, #00d578, #00cf88, #00c895, #18c19e, 
    #0ec0a9, #15bfb3, #25bebb, #00c2cc, #00c6dd, #00c9ed, #00ccfc);/* color de fondo del boton */
    width:200;
    height:40px;
    letter-spacing: 2px;
    cursor:pointer; 
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
   /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    box-shadow: 2 2 5px black;
  } 
  
  input[type=submit]:hover{
    background-position: right center;
  }
 
  
  label {
   text-align: right;
   font-size: 70%; /* el tamaño de la letra*/
  }
  a{
   color: #1FC9B2;
   font-size: 70%;
  }
  div{
    display: inline-flex;
    background:#313141;
    width:66%;
    height:70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0px 0px 50px #313141;
  }